.main-container {
    height: 100vh;
    width: 100%;
    display: flex;
}

.expression-container, .input-panel-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pad-container {
    width: 150px;
}

.results-inner input,
.results-inner button,
.expressions input,
.expressions button,
.pad-container input,
.pad-container button {
    width: 50px;
    height: 50px;
}

.calc-btn-container {
    margin-top: 10px;
}

/* expressions */
.expression-item {
    border: 1px grey solid;
    height: 50px;
    margin: 3px 0;
    width: 300px;
    display: flex;
}

/* upload form */
.upload-form-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}



.results-container {
    margin-top: 30px;
}

.results-inner {
    display: flex;
}